# Local
00RawData/*
02Documents/*
03OutData/*
lpi_temp/*
Rplots.pdf
01Scripts/functionsLPIT.RData
*.gif

#Server
jobs/*
out/
narval.sh
.Rproj.user

# Don't ignore these
# !00RawData/ColDP.csv Example
!01Scripts/DPMC_Analysis.R
!02Manuscript/Datapaper endemic, threatened and mammals subject to use.pdf
!.gitkeep
!lpi_temp/constrain/napermutations/results*
trend_plotPPpt.png
trend_plotPPpt2.png
plotPpT.R