# Local
00RawData/*
01Scripts/*
02Documents/*
03OutData/*
lpi_temp/*
Rplots.pdf
05Plots/*
03processedData/*
04FinalData/*

#Server
jobs/*
out/
narval.sh
.Rproj.user

# Don't ignore these
!01Scripts/
!01Scripts/01_SimulatedPop_LPI.r
!01Scripts/Functions.r
!01Scripts/02_trends_LPI.r
!01Scripts/03_SimConstrains_datapreparation.r
!01Scripts/04_SimConstrains.r
!04FinalData/
!.gitkeep
